@use 'sass:math';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

// Variables
:root {
    --text-color: #fff;

    --primary-color: rgba(0, 187, 176);
    --pre-active-color: rgba(162, 255, 248);

    --sidebar-bg: #212429;
}

// CSS reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Oswald', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    // padding: 4px 12px 0 12px;
}

.App {
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

// Styles
.d-flex {
    display: flex;
}

.h100 {
    height: 100%;
}

.activeText {
    color: var(--primary-color);
}

// margin top
@for $i from 1 through 6 {
    .mt-#{$i} {
        margin-top: 4px * $i;
    }
}

// row and col
.row {
    display: flex;
    flex-direction: row;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex-basis: 100% * math.div($i, 12);
    }
}
