.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide-list {
    display: flex;
    flex-direction: row;
}

.slide-icon {
    font-size: 8rem;
    transition: linear 0.2s;

    &:hover {
        cursor: pointer;
    }

    &:hover svg {
        opacity: 0.7;
    }

    &.left {
        background-color: #ffffff6b;
        position: absolute;
        display: flex;
        left: -22px;
        top: calc(50% - 50px);
        height: 96px;
        width: 51px;
        align-items: center;
        justify-content: center;
        border-radius: 25%;
    }

    &.right {
        background-color: #ffffff3b;
        position: absolute;
        display: flex;
        right: 22px;
        top: calc(50% - 50px);
        height: 96px;
        width: 51px;
        align-items: center;
        justify-content: center;
        border-radius: 25%;
    }

    &.left:hover {
        transform: translateX(-1px);
    }

    &.right:hover {
        transform: translateX(1px);
    }
}
