.wrapper {
    height: 100%;
    background-color: var(--sidebar-bg);
    color: var(--text-color);
    padding: 40px 0 0 36px;

    .inner {
        height: 100%;
    }
}

.logo-container {
    display: block;
    height: 60px;
    width: 60px;
    margin-bottom: 28px;

    .logo {
        height: 100%;
        width: 100%;
    }
}

.aside-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 108px);
}

.option {
    margin: 16px 0px;
    position: relative;
    display: block;

    a {
        display: flex;
        align-items: center;
        &:not(&[class*='activeText']):hover {
            animation: OptionHover 0.08s linear forwards;
        }

        &[class*='activeText']::after {
            content: '';
            position: absolute;
            right: 0;
            top: -4px;
            display: block;
            background-color: var(--primary-color);
            height: calc(100% + 8px);
            width: 3px;
        }
    }
}

.option-icon {
    font-size: 3rem;
    margin-right: 10px;
}

// Keyframes

@keyframes OptionHover {
    from {
    }
    to {
        opacity: 0.8;
        color: var(--pre-active-color);
        transform: translateX(2px);
    }
}
