.wrapper {
    height: 100%;
    background-color: var(--sidebar-bg);
    color: var(--text-color);
    padding: 40px 0 0 36px;

    .inner {
        height: 100%;
    }
}

.logo-container {
    display: block;
    height: 60px;
    width: 60px;
    margin-bottom: 28px;

    .logo {
        height: 100%;
        width: 100%;
    }
}

.aside-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 108px);
    font-size: 1.8rem;
    position: relative;

    & .line {
        height: 60px;
        width: 3px;
        border-radius: 1px;
        background-color: var(--primary-color);
        position: absolute;
        top: 0;
        right: 0;
        transition: all 0.2s ease;
    }
}

.option {
    margin: 16px 0px;
    position: relative;
    display: block;

    a {
        display: flex;
        align-items: center;
        transition: ease 0.3s;

        &:not(&[class*='activeText']):hover {
            transform: translateX(2px);
            animation: OptionHover 0.08s linear forwards;
            font-size: 2rem;
        }
    }
}

.option-icon {
    font-size: 3rem;
    margin-right: 10px;
}

// Keyframes

@keyframes OptionHover {
    from {
    }
    to {
        opacity: 0.8;
        color: var(--pre-active-color);
    }
}
