.wrapper {
    height: 100%;
    background-color: var(--sidebar-bg);
    color: var(--text-color);
}

.account-container {
    padding: 36px 36px 0 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.account-noti-container {
    position: relative;

    &:hover {
        cursor: pointer;
        animation: notiHover 0.09s linear forwards;
    }
}

.account-noti-count {
    position: absolute;
    height: 22px;
    width: 22px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(0 187 176 / 79%);
    color: var(--text-color);
    font-size: 1.6rem;
    right: -6px;
    top: -10px;
}

.account-noti {
    display: block;
    padding: 9px;
    height: 44px;
    width: 44px;
    background-color: #ffffff2e;
    border-radius: 18%;
}

.account-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.account-name {
    font-size: 1.8rem;
    &:hover {
        cursor: default;
    }
}

.account-options-btn {
    margin-left: 4px;
    margin-right: 12px;
    font-size: 1.6rem;
}

.account-avatar {
    display: block;
    height: 44px;
    width: 44px;
    border-radius: 18%;
}

// Keyframes

@keyframes notiHover {
    from {
    }
    to {
        opacity: 0.6;
    }
}
